@import "colors";

$border-radius: 2px;
$progress-bar-bg: $color-light-gray;
$progress-value-bg: $color-cyan;

.progress {
    position: relative;
    height: 30px;
    width: 100%;
}

.progress-bar {
    &::-webkit-progress-bar {
        background: $progress-bar-bg;
        border-radius: $border-radius;
    }
    &::-webkit-progress-value {
        background: $progress-value-bg;
        border-radius: $border-radius;
        transition: width .1s;
    }
    appearance: none;
    
    height: 100%;
    width: 100%;
}

.progress-label {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 4px 12px;

    font-size: 12px;
    font-weight: 500;
}