
.layout-container {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  max-height: 720px;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  csi-stats-bar {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  csi-screens {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #868686;
}
