/* You can add global styles to this file, and also import other style files */

$aaa: red;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}


mat-divider.mat-divider {
  margin: 8px 0;
}


.table-cell {
  padding: 0 4px;

  &-component {
    & > *:first-child {
      padding: 0 4px;
    }
  }
}
